body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://www.hdwallpapers.in/download/aurora_borealis_near_sea_hd_nature-HD.jpg);
    background-size: cover;
    filter: brightness(0.5); 
}

.stopwatch {
    padding: 40px 80px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9); 
    text-align: center; 
}

.time {
    font-size: 5rem;
    color: #00ffcc; 
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.8), 0 0 20px rgba(0, 255, 255, 0.5); 
    margin-bottom: 20px;
}

.controls button {
    margin: 8px;
    padding: 12px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: rgba(255, 0, 255, 0.8); 
    color: white; 
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(255, 0, 255, 0.8), 0 0 20px rgba(255, 0, 255, 0.5); 
    transition: transform 0.2s;
}

.controls button:hover {
    transform: scale(1.1); 
}

.laps {
    margin-top: 20px;
    text-align: left;
    color: #ffcc00; 
    text-shadow: 0 0 5px rgba(255, 204, 0, 0.8);
}
